Options +FollowSymlinks
RewriteEngine on
RewriteRule ^Timeline$   /timeline.php [L]

RewriteRule ^Chroniques-([0-9]+)-([0-9]+)$   /chroniques.php?type=$1&idChronique=$2 [L]
RewriteRule ^/home-([0-9]+)$   /home.php?type=$1 [L]
RewriteRule ^/home$   /home.php [L]

RewriteRule ^author-([0-9]+)$   /home.php?author=$1 [L]
RewriteRule ^Accueil$   /index.php [L]
RewriteRule ^Espace-Redaction$   /redaction.php [L]
RewriteRule ^Inscription$   /account.php [L]
RewriteRule ^logout$   /index.php?logout [L]
RewriteRule ^nouvelle-chronique$   /addm.php [L]
RewriteRule ^A-propos$   /about.php [L]
RewriteRule ^Contact$   /contact.php [L]

ErrorDocument 404 /pageintrouvable.php


RewriteRule ^Jeu$   /home.php?type=1 [L]
RewriteRule ^Livre$   /home.php?type=2 [L]
RewriteRule ^Cinema$   /home.php?type=3 [L]
RewriteRule ^Musique$   /home.php?type=4 [L]
RewriteRule ^Decouverte$   /home.php?type=5 [L]
RewriteRule ^Spectacle-Vivant$   /home.php?type=6 [L]
RewriteRule ^Vos-Projets$   /home.php?type=7 [L]

RewriteRule ^Jeu/JeuxVideo$   /home.php?type=1&soustype=1 [L]
RewriteRule ^Jeu/JeuxDeSociete$   /home.php?type=1&soustype=2 [L]
RewriteRule ^Livre/Romans$   /home.php?type=2&soustype=3 [L]
RewriteRule ^Livre/Essais$   /home.php?type=2&soustype=21 [L]
RewriteRule ^Livre/BD$   /home.php?type=2&soustype=4 [L]
RewriteRule ^Livre/Manga$   /home.php?type=2&soustype=5 [L]
RewriteRule ^Livre/Auteurs$   /home.php?type=2&soustype=17 [L]
RewriteRule ^Livre/LivresEnfants$   /home.php?type=2&soustype=19 [L]
RewriteRule ^Cinema/Films$   /home.php?type=3&soustype=6 [L]
RewriteRule ^Cinema/SeriesTV$   /home.php?type=3&soustype=7 [L]
RewriteRule ^Cinema/DessinsAnimes$   /home.php?type=3&soustype=8 [L]
RewriteRule ^Cinema/TV$   /home.php?type=3&soustype=16 [L]
RewriteRule ^Cinema/Documentaires$   /home.php?type=3&soustype=18 [L]
RewriteRule ^Cinema/Courts-Metrages$   /home.php?type=3&soustype=20 [L]
RewriteRule ^Musique/Albums$   /home.php?type=4&soustype=9 [L]
RewriteRule ^Musique/Artistes$   /home.php?type=4&soustype=10 [L]
RewriteRule ^Musique/Concerts$   /home.php?type=4&soustype=11 [L]
RewriteRule ^Decouverte/Lieux$   /home.php?type=5&soustype=12 [L]
RewriteRule ^Decouverte/Net$   /home.php?type=5&soustype=13 [L]
RewriteRule ^Decouverte/Objets$   /home.php?type=5&soustype=14 [L]
RewriteRule ^Decouverte/Evenements$   /home.php?type=5&soustype=15 [L]

RewriteRule ^Spectacle-Vivant/Spectacle$   /home.php?type=6&soustype=22 [L]
RewriteRule ^Spectacle-Vivant/Theatre$   /home.php?type=6&soustype=23 [L]
RewriteRule ^Spectacle-Vivant/Concert$   /home.php?type=6&soustype=24 [L]
RewriteRule ^Spectacle-Vivant/Cirque$   /home.php?type=6&soustype=25 [L]
RewriteRule ^Vos-Projets/Association$   /home.php?type=7&soustype=26 [L]
RewriteRule ^Vos-Projets/Projet-Personnel$   /home.php?type=7&soustype=27 [L]
RewriteRule ^Vos-Projets/Projet-Professionnel$   /home.php?type=7&soustype=28 [L]

RewriteRule ^Jeu/JeuxVideo/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Jeu/JeuxDeSociete/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]

RewriteRule ^Livre/BD/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Livre/Romans/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Livre/Essais/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Livre/Manga/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Livre/Auteurs/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Livre/LivresEnfants/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]

RewriteRule ^Cinema/Films/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Cinema/SeriesTV/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Cinema/DessinsAnimes/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Cinema/TV/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Cinema/Documentaires/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Cinema/Courts-Metrages/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]

RewriteRule ^Musique/Albums/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Musique/Artistes/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Musique/Concerts/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]

RewriteRule ^Decouverte/Lieux/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Decouverte/Net/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Decouverte/Objets/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Decouverte/Evenements/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]

RewriteRule ^Spectacle-Vivant/Spectacle/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Spectacle-Vivant/Theatre/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Spectacle-Vivant/Concert/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Spectacle-Vivant/Cirque/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Vos-Projets/Association/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Vos-Projets/Projet-Personnel/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]
RewriteRule ^Vos-Projets/Projet-Professionnel/([a-zA-Z0-9\-]+)-([0-9]+)$   /chroniques.php?idChronique=$2 [L]

RewriteRule ^Concours$   /concours2014-10-11.php [L]
RewriteRule ^LostAndFound$   /lostpassword.php [L]

RewriteRule ^BD/([a-zA-Z0-9\-]+)-([0-9]+)-([0-9]+)$   /chroniques.php?idChronique=$3 [L]
RewriteRule ^JeuxVideo/([a-zA-Z0-9\-]+)-([0-9]+)-([0-9]+)$   /chroniques.php?idChronique=$3 [L]
RewriteRule ^Films/([a-zA-Z0-9\-]+)-([0-9]+)-([0-9]+)$   /chroniques.php?idChronique=$3 [L]
RewriteRule ^SeriesTV/([a-zA-Z0-9\-]+)-([0-9]+)-([0-9]+)$   /chroniques.php?idChronique=$3 [L]
RewriteRule ^Livres/([a-zA-Z0-9\-]+)-([0-9]+)-([0-9]+)$   /chroniques.php?idChronique=$3 [L]
RewriteRule ^Internet/([a-zA-Z0-9\-]+)-([0-9]+)-([0-9]+)$   /chroniques.php?idChronique=$3 [L]
RewriteRule ^TV/([a-zA-Z0-9\-]+)-([0-9]+)-([0-9]+)$   /chroniques.php?idChronique=$3 [L]
